@import url('https://fonts.googleapis.com/css?family=Varela+Round');
html {
	background: url(https://raw.githubusercontent.com/potionPI/decembersmiles/master/images/background.png) no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Varela Round', sans-serif;
	color: #010155;
	line-height: 28px;
}

.backest_div {
	background-color: rgba(217, 220, 255, .88);
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	width: 760px;
	padding: 50px;
	border-radius: 10px;
}

.index_picture_separate {
	height: 20px;
}
.index_section_separate {
	height: 10px;
}
.index_question_separate {
	height: 1px;
}
#index_logo_img {
	display: block;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
}
#index_mascot_img {
	display: block;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}
