@import url('https://fonts.googleapis.com/css?family=Varela+Round');
html {
	background: url(https://raw.githubusercontent.com/potionPI/decembersmiles/master/images/background.png) no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Varela Round', sans-serif;
	color: #010155;
	line-height: 28px;
}

.backest_div {
	background-color: rgba(217, 220, 255, .88);
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	width: 760px;
	padding: 50px;
	border-radius: 10px;
}

a {
	color: #605FB8;
}
a:active {
	color: #F1FDFF;
}

.index_picture_separate {
	height: 20px;
}
.index_section_separate {
	height: 10px;
}
.index_question_separate {
	height: 1px;
}
.index_bottom_separate {
	height: 30px;
}
#index_logo_img {
	display: block;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}
#index_mascot_img {
	display: block;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}
#index_log_a {
	border-radius: 5px;
	background-color: #474787;
	padding: 10px;
	color: white;
	text-decoration: none;
}
#index_log_a:hover {
	background-color: #605FB8;
}
#index_log_a:active {
	background-color: #F1FDFF;
	color: #070658;
}
